main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
}

:root {
    --hover-color: magenta;
    --active-color: cornflowerblue;
    
    --light: #fafafa;
    --dark: #000000;
}

/* seems like I might want this back? Just in case, I'll keep it until I'm done with all styling. If 
   it's still commented out when I'm done, I'll delete it then. */
/*
* {
    box-sizing: border-box;
} */

html, body {
    min-height: 100%;
}

body {
    background: var(--dark);
    color: var(--light);
}

a {
    text-decoration: none; /* no underlines for links */
}

a:visited {
    color: inherit; /* don't allow the visited links to change color */
}

li {
    list-style: none; /* no bullets for list items */
}

nav li:hover, .resume-link:hover, .copyright-link:hover {
    color: var(--hover-color);
}

nav li {
    cursor: pointer; /* makes the cursor change when hovering on a nav li item */
}

/* used only by the Contact component. After re-writing that, see if I still need this textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
} */

/* used in Nav only - I need this for now, but once I convert Nav to use bootstrap, I might not need it */
.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.navActive {
    color: var(--active-color);
}

.card-text {
    font-size: .75rem;
    padding-bottom: 0;
    margin-bottom:10px ;
}

.proj-link, .footer-link {
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 50px;   
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.proj-link:hover, .footer-link:hover {
    border: 2px solid var(--hover-color);
}

.proj-img {
    max-width: 100%;
}

.project:hover {
    padding: 2px;
}

.copyright-info {
    font-size: .75em;
}

.resume-link {
    color: white;
}